<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
     <class name="project.PHPTravelers.Registration_Test"/>
      <class name="project.PHPTravelers.Login_Test"/>
      <class name="project.PHPTravelers.Hotel_Search_01"/>
      <class name="project.PHPTravelers.Flight_Test"/>

    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
